In [4]:
import geopy
import pandas as pd
import numpy as np

from pyproj import Geod
from shapely.geometry import Point, LineString

X = pd.read_csv('data/stores_train.csv')
spatial = pd.read_csv('data/grunnkrets_norway_stripped.csv')
age = pd.read_csv('data/grunnkrets_age_distribution.csv')

In [9]:
spatial.head()
age.head()
# age.loc(age.grunnkrets_id == 3011703)
age.drop_duplicates(subset='grunnkrets_id')[age.grunnkrets_id == 3011703]

C:\Users\oskar\AppData\Local\Temp/ipykernel_29960/3153172759.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  age.drop_duplicates(subset='grunnkrets_id')[age.grunnkrets_id == 3011703]

,grunnkrets_id,year,age_0,age_1,age_2,age_3,age_4,age_5,age_6,age_7,...,age_81,age_82,age_83,age_84,age_85,age_86,age_87,age_88,age_89,age_90
58,3011703,2015,8,8,8,8,8,7,7,6,...,1,1,1,1,1,1,1,1,1,0

In [ ]:
gk_muni = spatial[['grunnkrets_id', 'municipality_name']]

old_shape = X.shape
# print(len(X.merge(gk_muni, on='grunnkrets_id', how='right')))
X = X.merge(gk_muni, on='grunnkrets_id', how='left')

_ = X.groupby(['municipality_name'])['lat', 'lon'].apply(lambda x: x.sum() / (x.count()))[['lat', 'lon']]
X = X.merge(_, on=['municipality_name'], how='left', suffixes=(None, '_center')).drop_duplicates()
assert X.shape[0] == old_shape[0]

def meter_distance(lat1, lon1, lat2, lon2):
    line_string = LineString([Point(lon1, lat1), Point(lon2, lat2)])
    geod = Geod(ellps="WGS84")
    return geod.geometry_length(line_string)


X.fillna(value={'lat_center': 63, 'lon_center': 10}, inplace=True)
X.isnull().sum()

X['dist_to_center'] = X.apply(lambda row: meter_distance(row.lat, row.lon, row.lat_center, row.lon_center), axis=1)
X[20:30]

assert X.shape[0] == old_shape[0]

44616
store_id                   0
year                       0
store_name                 0
plaace_hierarchy_id        0
sales_channel_name         0
grunnkrets_id              0
address                 3537
lat                        0
lon                        0
chain_name             18223
mall_name              21128
revenue                    0
municipality_name         30
dtype: int64
(25688, 13)

C:\Users\oskar\AppData\Local\Temp/ipykernel_32224/570308066.py:10: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  _ = X.groupby(['municipality_name'])['lat', 'lon'].apply(lambda x: x.sum() / (x.count()))[['lat', 'lon']]

                         lat        lon
municipality_name
Agdenes            63.614633   9.648959
Alstahaug          66.015404  12.616322
Alta               69.961071  23.278242
Alvdal             62.124834  10.622663
Andebu             59.260275  10.155347
...                      ...        ...
Østre Toten        60.665598  10.849315
Øvre Eiker         59.773444   9.897019
Øyer               61.239738  10.450549
Øygarden           60.543227   4.888164
Øystre Slidre      61.230820   8.926223

[410 rows x 2 columns]

In [ ]:
X[['municipality_name', 'lat_center']]

      municipality_name  lat_center
0               Drammen   59.740315
2                  Oslo   59.919972
4             Ringerike   60.176006
6                  Bodø   67.283052
8             Trondheim   63.418063
...                 ...         ...
25678            Horten   59.404396
25680            Gjøvik   60.806942
25682           Skedsmo   59.957614
25684           Sandnes   58.857718
25686            Tromsø   69.654962

[12859 rows x 2 columns]